// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.contact-buttons__solid {
  background-color: $brand-purpleSuperlgt;
  background: $brand-purpleSuperlgt;
  th > table > tbody > tr > th {
    width: 0;
  }
  .columns {
    padding-bottom: 50px;
    padding-right: 35px !important;
    padding-left: 35px !important;
    padding-top: 26px !important;
    p {
      margin-top: 25px;
      .contact__email {
        @include solid__purp;
        img {
          @include buttonImg;
        }
        /* Small only */
        @media only screen and (max-width: #{$global-breakpoint}) {
          display: block;
          text-align: center;
          width: 108px;
          margin: 0 auto !important;
          margin-bottom: 20px !important;
        }
      }
      .contact__phone {
        @include solid__purp;
        img {
          @include buttonImg;
        }
        /* Small only */
        @media only screen and (max-width: #{$global-breakpoint}) {
          display: block;
          text-align: center;
          width: 196px;
          margin: 0 auto !important;
        }
      }
    }
  }
}

.contact-buttons__transparent {
  background-color: $light-lavender;
  background: $light-lavender;
  th > table > tbody > tr > th {
    width: 0;
  }
  .columns {
    padding-bottom: 50px;
    padding-right: 35px !important;
    padding-left: 35px !important;
    padding-top: 20px;
    p {
      margin-top: 25px;
      .contact__email {
        @include transparent__purp;
        img {
          @include buttonImg;
        }
        /* Small only */
        @media only screen and (max-width: #{$global-breakpoint}) {
          display: block;
          text-align: center;
          margin: 0 auto !important;
          width: 108px;
          margin-bottom: 20px !important;
        }
      }
      .contact__phone {
        @include transparent__purp;
        img {
          @include buttonImg;
        }
        /* Small only */
        @media only screen and (max-width: #{$global-breakpoint}) {
          display: block;
          text-align: center;
          width: 196px;
          margin: 0 auto !important;
        }
      }
    }
  }
}

.footer {
  background-color: $brand-purpledrk;
  background: $brand-purpledrk;
  .columns {
    padding-bottom: 40px;
    padding-right: 40px !important;
    padding-left: 40px !important;
    padding-top: 55px;
    h1 {
      color: $white;
      font-weight: bold;
      font-size: 28px;
      margin-bottom: 20px;
    }
    .social__facebook {
      display: inline-block;
      width: 23px;
      height: 23px;
      margin-right: 30px;
    }
    .social__twitter {
      display: inline-block;
      width: 23px;
      height: 18.59px;
      margin-right: 30px;
    }
    .social__youtube {
      display: inline-block;
      width: 24px;
      height: 18.5px;
      margin-right: 30px;
    }
    .social__instagram {
      display: inline-block;
      width: 23px;
      height: 23px;
      margin-right: 30px;
    }
    .social__pinterest {
      display: inline-block;
      width: 23px;
      height: 23px;
      margin-right: 30px;
    }
    p {
      color: #B3A9D2;
      font-size: 12px;
      .unsubscribe {
        color: #B3A9D2;
        text-decoration: underline;
      }
    }
    .social-media__links {
      margin-bottom: 40px;
    }
    .address {
      margin-bottom: 24px;
    }
    .unsubscribe-link {
      margin-bottom: 40px;
    }
  }
}
// .body-drip {
//   border-top: 8px solid #663399;
// }

// // Full Width Headers
// .header {
//   background: #8a8a8a;
// }

// .header .columns {
//   padding-bottom: 0;
// }

// .header p {
//   color: #fff;
//   padding-top: 15px;
// }

// .header .wrapper-inner {
//   padding: 20px;
// }

// .header .container {
//   background: transparent;
// }

// // Social Media
// table.button.facebook table td {
//   background: #3B5998 !important;
//   border-color: #3B5998;
// }

// table.button.twitter table td {
//   background: #1daced !important;
//   border-color: #1daced;
// }

// table.button.google table td {
//   background: #DB4A39 !important;
//   border-color: #DB4A39;
// }

// .wrapper.secondary {
//   background: #f3f3f3;
// }