.sub-header {
    background-color: $white;
    background: $white;
  
    .columns {
      padding-bottom: 14px;
      padding-right: 14px !important;
      padding-left: 14px !important;
      padding-top: 14px;
      p {
        color: $brand-purpledrk;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 0;
      }
    }
  }
  
  .img-area {
    .columns {
      padding-bottom: 0;
      padding-right: 0 !important;
      padding-left: 0 !important;
      padding-top: 0;
    }
  }
  
  .welcome-area {
    background-color: $brand-purplelgt;
    background: $brand-purplelgt;
  
    .columns {
      padding-bottom: 50px;
      padding-right: 60px !important;
      padding-left: 35px !important;
      padding-top: 60px;
      h1 {
        font-size: 60px;
        font-weight: 600;
        line-height: 1.1;
        color: $brand-purpledrk;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
      }
      p {
        color: $brand-purpledrk;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
      }
      .line1 {
        font-size: 24px;
        margin-bottom: 18px;
      }
      .line2 {
        font-size: 18px;
        margin-bottom: 15px;
      }
      .line3 {
        font-size: 18px;
      }
    }
  }
  
  .offer-area {
    background-color: $white;
    background: $white;
  
    .columns {
      padding-bottom: 50px;
      padding-right: 35px !important;
      padding-left: 35px !important;
      padding-top: 60px;
      .exclusive__btn {
        background-color: $brand-purpledrk;
        background: $brand-purpledrk;
        text-align: center;
        color: $white;
        font-weight: 800;
        width: 175px;
        padding-top: 10px;
        border-radius: 5px;
        padding-bottom: 10px;
        display: inline-block;
        margin-bottom: 20px;
        cursor: text;
      }
      .shopnow__btn {
        background-color: #72F4BF;
        background: #72F4BF;
        color: $brand-purpledrk;
        width: 140px;
        text-align: center;
        padding-top: 14px;
        padding-bottom: 14px;
        display: inline-block;
        font-weight: 600;
        border-radius: 6px;
  
      }
      h1 {
        font-size: 60px;
        font-weight: 600;
        line-height: 1.1;
        color: $brand-purpledrk;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
      }
      p {
        color: $brand-purpledrk;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
      }
      .line1 {
        font-size: 24px;
        margin-bottom: 18px;
      }
      .line2 {
        font-size: 24px;
        margin-bottom: 14px;
      }
      .line3 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 30px;
      }
      .terms {
        margin-left: 32px;
        font-size: 12px;
      }
      .shopnow__ctablock {
        
      }
    }
  }
  
  .grid_cta-area {
    background-color: #EDE6FB;
    background: #EDE6FB;
    .columns {
      padding-bottom: 40px;
      padding-top: 40px;
      /* Small only */
      @media only screen and (max-width: #{$global-breakpoint}) {
        padding-bottom: 18px !important;
        padding-right: 18px !important;
        padding-left: 18px !important;
        padding-top: 18px !important;
      }
      img {
        border-radius: 5px;
        margin-bottom: 20px !important;
      }
      h1 {
        color: $brand-purpledrk;
        font-size: 36px;
        font-weight: 600;
      }
      p {
        color: $brand-purpledrk;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .button {
        background-color: #B9ACDC;
        background: #B9ACDC;
        padding-bottom: 14px;
        padding-top: 14px;
        border-radius: 10px;
        color: $brand-purpledrk;
        font-weight: 600;
        text-align: center;
        display: inline-block;
        width: 171px;
        /* Small only */
        @media only screen and (max-width: #{$global-breakpoint}) {
           margin: 0 auto;
        }
      }
    }
  }
  
  .contact-area__welcome {
    background-color: $brand-purpleSuperlgt;
    background: $brand-purpleSuperlgt;
    .columns {
      @include column-padding__bottom-0;
      /* Small only */
      @media only screen and (max-width: #{$global-breakpoint}) {
        padding-bottom: 0;
        padding-right:  15px !important;
        padding-left: 15px !important;
        padding-top: 15px !important;
      }
      h1 {
        color: $brand-purpledrk;
        font-size: 36px;
        font-weight: 600;
      }
      p {
        color: #442690;
        font-size: 18px;
      }
    }
  }